.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  p {
    margin: 5px 0;
  }
  
  .social-icons {
    margin-top: 20px !important;
  }
  
  .social-icons a {
    margin: 0 10px;
    text-decoration: none;
  }
  
  