.proj-descr-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh;  */
}
.proj-skills{
    text-align: center;
}
.proj-descr{
    width: 60%;
    text-align: center;
    margin-bottom: 80px;
}

ul li {
    margin-bottom: 10px;
    line-height: 1.2;
}

ul li::marker {
    font-size: 2em; 
    /* color: #333;  */
}

.btn-project{
    color: #fff !important;
    background: #EF5C3A;
    border-radius: 30px;
}

.back-link{
    margin: 50px 60px;
    font-size: 18px;
}
